.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.photo {
  border-radius: 2em;
  width: 20em;
  height: 20em;
  padding: 1em;
}

.images-descriptions {  
  display: inline-block;
}

.button {
  border: purple solid;
}

